@font-face {
    font-family: 'OpenSans';
    src: url(./Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}

:root {
    --primary-color: black;
    --secondary-color: gray;
    --page-color: #F6EEE3;
    --primary-text-color: black;
    --secondary-text-color: white;
    --tertiary-text-color: gray;
    --footer-background-color: black;
    --button-color: black;
    --button-text-color: white;
    --button-hover-color: gray;
    --button-hover-text-color: white;

    --button-hover-menu-color:white;
    --button-hover-menu-text-color: black;

    /* Typography */
    --font-family: OpenSans;
    --font-h1-size: 70px;
    --font-h2-size: 50px;
    --font-h3-size: 30px;
    --font-p-size: 24px;
    --font-menu-size: 18px;
    --font-weight-regular: 400;
    --font-weight-bold: 700;
}

body {
    font-family: var(--font-family);
    width: 80%;
    margin: auto;
}

.header-logo {
    cursor: pointer;
    height: 50px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

header nav{
    background-color: black;
    width:30%;
    padding: 0 1rem;
}
header nav ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

header nav ul li {
    list-style-type: none;
    cursor: pointer;
    padding: 0.75rem;
    z-index: -1;
    font-size: var(--font-menu-size);
}

header nav ul a{
    text-decoration: none;
    color: var(--secondary-text-color);
}
header nav ul li:hover {
    background-color: var(--button-hover-menu-color);
    color: var(--button-hover-menu-text-color);
}

/* .line{
    border: 1px solid var(--secondary-color);
} */

/* Hero Page */
.heroPage {
    background-color: var(--page-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 600px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 
                0 -4px 6px rgba(0, 0, 0, 0.1); 
}

.profileImg {
    /* width: 45%; */
    margin: auto;
    box-shadow: 10px 10px 5px;
}

.myName {
    /* width: 45%; */
    margin: auto;
}

.myName h1 {
    font-size: var(--font-h1-size);
    margin: 10px 0;
}

.myName p {
    font-size: var(--font-p-size);
    font-weight: var(--font-weight-regular);
    margin: 0;
}

.resumeDownload {
    margin-top: 10px;
}

.resumeDownload span{
    font-size: 20px;
}
.resumeDownload span button {
    margin-left: 1rem;
    cursor: pointer;
    font-size: 20px;
    border-radius: 10px;
}

.resumeDownload span button {
    border: none;
    padding: 0.5rem 1.5rem;
    background-color: var(--button-color);
    color: var(--button-text-color);
}

.resumeDownload span button:hover {
    background-color: var(--button-hover-color);
    color: var(--button-hover-text-color);
}

.homeAboutMe {
    background-color: var(--page-color);
    padding: 4rem 2rem;
    margin-top: 8rem;
    box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1), 
    0 -8px 5px rgba(0, 0, 0, 0.1); 
}

.homeAboutMe h2 {
    font-size: var(--font-h2-size);
}

.homeAboutMe p {
    font-size: var(--font-p-size);
}

.homeProject {
    margin-top: 8rem;
    margin-bottom: 8rem;
    background-color: var(--page-color);
    padding: 4rem 2rem;
    box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1), 
    0 -8px 5px rgba(0, 0, 0, 0.1); 
}

.homeProject h2 {
    font-size: var(--font-h2-size);
}

.projectSection {
    display: flex;
    justify-content: space-between;
}

.projectCard {
    width: 30%;
    border: 1px solid black;
    padding: 1rem;
    cursor: pointer;
}

.projectCard img {
    width: 100%;
    object-fit: cover;
}

/* footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4rem;
    padding: 2rem;
    height: 200px;
    background-color: var(--footer-background-color);
    color: var(--secondary-text-color);
}

.socialMeidaIcon{
    display: flex;
    gap: 1rem;
}

.socialMeidaIcon i{
    cursor: pointer;
    font-size: 2rem;
} */

footer {
    background-color: var(--footer-background-color);
    /* Light gray background for the footer */
    padding: 40px 0px;
    text-align: center;
    font-size: 14px;
    color: #333;
    border-top: 1px solid #ddd;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.footer-about,
.footer-contact,
.footer-social {
    flex: 1;
    min-width: 200px;
}

.footer-social .social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    font-size: 1.5rem;
}

.footer-social .social-icons a {
    text-decoration: none;
}

.footer-social .social-icons a:hover {
    transform: scale(1.2);
}

.footer-bottom {
    margin-top: 20px;
    font-size: 12px;
    color: #777;
}

.footer-bottom p {
    margin: 0;
}


/* About Me Page */
.aboutme{
    width: 80%;
    margin: auto;
    background-color: var(--page-color);
    padding: 2rem;
    box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1), 
    0 -8px 5px rgba(0, 0, 0, 0.1); 
}

.aboutme h2{
    font-size: var(--font-h2-size);
    margin-top: 0;
}

.aboutme p{
    font-size: var(--font-p-size);
}

.aboutme h3{
    font-size: var(--font-h3-size);
}

.aboutme-skills ul li{
    font-size: var(--font-p-size);
}